body{
    background-color:#FFF4E8;
}

h1{
    color: #5F432C;
    font-weight: bold;
    font-family: 'Playpen Sans', cursive;
}

.form-control {
    background-color: #C2A27F;
    border:none;
    font-family: 'Playpen Sans', cursive;
    font-weight: bold;
    color:black;
}

.form-control::placeholder{
    color: #121212;
    font-weight: lighter;
}

.form-control:focus{
    background-color: #C2A27F;
    box-shadow: 5px 5px 5px #5F432C;
}

#addBtn,
#clearBtn,
#clearNotesBtn,
#clearChecked { 
    margin-left: 6px;
    background-color: #C2A27F;
    font-family: 'Playpen Sans', cursive;
    border: none;
    color:#121212;
    font-weight: bold;
}

#addBtn:active,
#clearBtn:active,
#clearNotesBtn:active, 
#clearChecked:active {
    background-color: #C2A27F;
    border: none;
    transform: scale(0.90);
    transition: transform 0.1s;
}

#addBtn:focus,
#clearBtn:focus,
#clearNotesBtn:focus,
#clearChecked:focus {
    box-shadow: 3px 3px #5F432C;
}

.list-group-items{
    color:#121212;
    font-family: 'Playpen Sans', cursive;
    background-color: #C2A27F;
    border-radius: 50px;
    font-weight: bold;
    padding:10px;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: 1fr auto auto; 
    align-items: center;
}

.form-check-input{
    width:20px;
    height: 20px;
    background-color: #5F432C;
}

.form-check-input:checked,
.form-check-input:focus{
    background-color: #5F432C;
    border: none;
    transform: scale(0.90);
    transition: transform 0.1s;
    box-shadow: none;
    outline: none;
}

.btn-close:focus{
    box-shadow: none;
}

#overflowMenu::after {
    content: none;
}

.dropdown-menu{
    background-color:#F6E3CE;
    border:1px solid #5F432C;
    border-radius: 10px;
}

#containerBottom{
    background-color: #C2A27F;
    height:70px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#checkCircleIcon{
    font-size: 35px;
    color:#121212;
}

#cardIcon{
    font-size: 35px;
    color:#121212;
    cursor: pointer;
}